html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.facebook-option-login {
    padding-top:9px;
}

.main-body {
  min-height: 45pc;
}

.homelink-image-png {
    height: 40px;
}