@page
@model PrivacyModel
@{
    ViewData["Title"] = "My Cart";
}
<h1>@ViewData["Title"]</h1>


<hr />
    <table id="cartTable" class="table table-striped table-bordered cell-border stripe" style="width:100%">
        <thead>
            <tr>
                <th>Item Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Photo</th>
                <th>IsCheckedOut</th>
                <th>Date checked in</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>Apple AirPods</td>
                <td>1</td>
                <td>R 4300.30</td>
                <td>Photo</td>
                <td>False</td>
                <td>
                    @DateTime.Now.ToString("yyyy/MM/dd HH:mm:ss tt")
                </td>
            </tr>
        </tbody>
    </table>