@page

@model SaleSeeker_Web.ViewModel.CartItem.CartItemGet
@{
    ViewData["Title"] = "Home page";
}

<div class="main-body text-center">
    <h2 class="display-4">Super Slick Store Front</h2>

    <hr />

    <table id="stockTable" class="table table-striped table-bordered cell-border stripe" style="width:100%">
        <thead>
            <tr>
                <th>Item Name</th>
                <th>Quantity Available</th>
                <th>Price</th>
                <th>Photo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Apple AirPods</td>
                <td>100</td>
                <td>R 4300.30</td>
                <td>Photo</td>
            </tr>
        </tbody>
    </table>
</div>
